body{
    margin: 0px;
    background-color:white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2f6b5a;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; /* ajusta aquí lo cerca/lejos */
}

header h1 a{
    text-decoration: none;
    color: white;
}

.cabecera{
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

form h1 {
    font-weight: bold;
    color: black;
}

footer{
    width: 100%;
	height: 270px;
	background-color: #2f6b5a;
	color: white;
	position: fixed;
	bottom: 0px;
    display: flex;     
    justify-content: center;
    gap: 125px; /* ajusta aquí lo cerca/lejos */
}

.pie{
    display: block; 
    color: white;
    text-decoration: none;
    margin-top: 15px;
}

.separacion{
    margin-top: 40px;
}




