.contenedor {
    margin: 50px auto;
    text-align: center;
}

.contenedor h2 {
    font-size: 40px;
    color: #2f6b5a;
    margin-bottom: 40px;
}

.caja {
    background-color: white;
    border: 1px solid lightgray;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.caja:hover {
    transform: translateY(-5px);
}

.caja h3 {
    margin-bottom: 10px;
}

.caja p {
    color: gray;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #2f6b5a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}