.contenedor {
    margin: 50px auto;
    text-align: center;
    width: 30%;
}

.contenedor h2 {
    font-size: 40px;
    color: #2f6b5a;
    margin-bottom: 40px;
}

.caja {
    background-color: white;
    border: 2px solid lightgray;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.caja:hover {
    transform: translateY(-5px);
}

.caja h3 {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #2f6b5a;
    border: 2px solid transparent;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover{
    background-color: #244f43;
    border: 2px solid black;
}