body{
    margin: 0px;
    background-color:white;
    font-family: Arial, sans-serif;
}

.contenedor{
    margin: 0px auto;
}

.titulo{
    font-weight:bold;
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}


form {
    width:50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px auto;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-bottom: 15px;
}

.fila {
    width: 100%;
    display: flex;
    gap: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input {
    padding: 5px;
    padding-left: 10px;
    background-color:lightgray;
    border: 2px solid green;
    border-radius: 4px;
    height: 20px;
}

.campo_completo {
    width: 100%;
}

textarea {
    padding-left: 10px;
    padding-top: 5px;
    border: 2px solid green;
    border-radius: 4px;
    background-color:lightgray;
    resize: none;
}

.obligatorio::after {
  content: " *";
  color: red;
}

.botones {
    display: flex;
    justify-content: center; 
    gap: 50px;              
    width: 100%;            
    margin-top: 10px;
    margin-bottom: 40px;
}

.enviar {
    height: 40px;
    padding: 5px;
    width: 25%;
}

.borrar {
    height: 40px;
    padding: 5px;
    width: 25%;
}

.enviar:Hover {
    background-color: #2f6b5a; 
    color: white;
}

.borrar:Hover {
    background-color: #2f6b5a; 
    color: white;
}

p{
    text-align: center;
    font-size: 18px;
}