body{
    background-image: url(../media/imagenComida.png);  
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.iniciarsesion {
    width: 500px;
    margin: 50px auto; 
    padding: 50px;
    border: 3px solid #2f6b5a; 
    background-color:white;
    border-radius: 10px;
    text-align: center;
}

.iniciarsesion h2 {
    color: #2f6b5a;
    font-size: 36px; 
    margin-bottom: 10px;
    margin-top: 0px;
}

.iniciarsesion p {
    font-size: 18px;
    margin-bottom: 30px;
}

.campo {
    text-align: left;
    margin-bottom: 20px;
}

.campo label {
    color: #2f6b5a;
    font-weight: bold;
    font-size: 20px;
}

.campo input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #2f6b5a; 
    border-radius: 8px;
    font-size: 16px;
}

.campo:nth-of-type(2) {
    margin-bottom: 30px;
}

.iniciar {
    width: 100%;
    padding: 18px;
    background-color: #2f6b5a;
    border: 2px solid transparent;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.iniciar:hover {
    background-color: #244f43;
    border: 2px solid black;
}

.registrarse{
    padding-top: 10px;
}

.registrarse a{
    color: blue;
    text-decoration: underline;
}