body{
    margin: 0px;
    background-color:white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2f6b5a;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; 
}

header h1 a{
    text-decoration: none;
    color: white;
}

.titulo{
    text-align: center;
    font-weight:bold;
    font-size: 50px;
    margin-top: 50px;
}

.comofunciona {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
}

.comofunciona h2 {
  text-align: center;
  margin-bottom: 40px;
}

.pasos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.paso {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.paso h3 {
  margin-top: 0;
}

.contenedor {
    background-color: #29965f;  
    color: white;
    font-weight:bold;
    text-align: center;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
}

.contenedor p{
    margin: 20px auto;
    font-size: 40px;
}

.boton{
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 450px;
    height: 50px;
    font-size: 20px;
}


.cabecera{
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

footer{ 
    width: 100%; 
    height: 270px; 
    background-color: #2f6b5a; 
    color: white; 
    display: flex; 
    justify-content: center; 
    gap: 125px; 
    margin-top: 50px;
}

.pie{
    display: block; 
    color: white;
    text-decoration: none;
    margin-top: 15px;
}

.separacion{
    margin-top: 40px;
}
