body{
    margin: 0px;
    background-color:white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2f6b5a;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; /* ajusta aquí lo cerca/lejos */
}

header h1 a{
    text-decoration: none;
    color: white;
}

.cabecera{
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

.contenedor{
    width: 30%;
    height: auto;
    margin: 0px 200px;
}

.boton{
    background-color: black;
    color: white;
    display: block;
    font-weight: bold;
    margin: 20px auto 0 auto;
    padding: 10px 125px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.foto{
    width: 300px;
    height: 300px;
    margin: 0px;
    justify-content: right;
}

h1{
    color:  #2f6b5a;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
    font-size: 3em;
}

nav ul{
    list-style: none;
    padding-left: 0px;
}

nav ul li{
    margin-bottom: 10px;
}

nav li::before{
    content: "✅ ";
}

form h1 {
    font-weight: bold;
    color: black;
}

footer{
    width: 100%;
	height: 270px;
	background-color: #2f6b5a;
	color: white;
	position: fixed;
	bottom: 0px;
    display: flex;     
    justify-content: center;
    gap: 125px; /* ajusta aquí lo cerca/lejos */
}

.pie{
    display: block; 
    color: white;
    text-decoration: none;
    margin-top: 15px;
}

.separacion{
    margin-top: 40px;
}




