body{
    margin: 0px;
    background-color:white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2f6b5a;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; /* ajusta aquí lo cerca/lejos */
}

a{
    text-decoration: none;
    color: white;
}

.cabecera{
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

.contenedor{
    width: 30%;
    height: auto;
    margin: 60px 350px;
}

.contenedor h1{
    color:  #2f6b5a;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
    font-size: 3em;
    margin-bottom: 0px;
}

.contenedor ul li{
    margin-bottom: 15px;
    font-size: 1.1em;
}

nav ul{
    list-style: none;
    padding-left: 0px;
}

nav li::before{
    content: "✅ ";
}


.foto{
    position: absolute; /* Para moverla por donde quieras */
    top: 15%;
    right: 15%;         /* Esto la mete en el espacio blanco de la derecha */
    width: 650px;       
    height: 375px;
    border-radius: 10px;
}

.boton{
    background-color: black;
    color: white;
    display: block;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    width: 550px;
}

form h1 {
    font-weight: bold;
    color: black;
}

footer{
    width: 100%;
	height: 270px;
	background-color: #2f6b5a;
	color: white;
	position: fixed;
	bottom: 0px;
    display: flex;     
    justify-content: center;
    gap: 125px; /* ajusta aquí lo cerca/lejos */
}

.pie{
    display: block; 
    color: white;
    margin-top: 15px;
}

.separacion{
    margin-top: 40px;
}