body{
    margin: 0px;
    background-color:#FDF4E3;
    font-family: Arial, sans-serif;
}

.marco {
    background-color: #2f6b5a;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
}

a{
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}